<mat-toolbar-row class="app-wrapper">
    <h1 class="app-title">Angular Film App</h1>
    <h2 *ngIf="authorizationService.userEmail">You're logged in as: {{ authorizationService.userEmail }}</h2>
    <div class="app-auth__buttons">
        <button mat-raised-button color="primary" *ngIf="!authorizationService.user" (click)="login()">Login</button>
        <button mat-raised-button color="primary" *ngIf="authorizationService.user" (click)="logout()">Logout</button>
        <button mat-raised-button color="accent" disabled (click)="register()">Register</button>
    </div>
    
</mat-toolbar-row> 

